<%var header={%>
	
<%};%>

<%var script={%>

<script type="text/javascript" src="http://jqpaginator.keenwon.com/jqPaginator.min.js"></script>
	<script type="text/javascript">
		$(function() {
			//Red color scheme for iCheck
		    var serversCheckbox = $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-red',
		      radioClass: 'iradio_minimal-red'
		    });
			
			// remove
			$('.remove').on('click', function(){
				var title = $(this).attr('title');
				var id = $(this).attr('id');
				ComConfirm.show("确认删除机构："+title+"?", function(){
					$.ajax({
						type : 'POST',
						url : base_url + '/org/delete',
						data : {"id":id},
						dataType : "json",
						success : function(data){
							if (data.code == 200) {
								ComAlert.show(1, '删除成功',function(){
									window.location.reload();
									});
							} else {
								if (data.msg) {
									ComAlert.show(2, data.msg);
								} else {
									ComAlert.show(2, '删除失败');
								}
							}
						},
					});
				});
			});
		
			$('.update').on('click', function(){
				window.location = base_url+"/org/edit?id="+$(this).attr('id');
			});
		
			$('.add').on('click', function(){
				window.location = base_url+"/org/edit";
			});

		});
		
	</script>
<%};%>

<%
layout("../inc/inc.macro.html",{title:'机构管理',header:header,script:script}){
%>

<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>机构管理<small>机构列表</small></h1>
		</section>

		<!-- Main content -->
	    <section class="content">
			<form action="${base}/org/list" method="get" id="listForm">
			<div class="row">
                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-padding-fix">
                        <select id="select" name="type" class="input-sm">
						  <option value ="1" ${type! == "1"?"selected":""}>机构ID</option>
						  <option value="2" ${type! == "2"?"selected":""}>机构名称</option>
						</select>
						</span>
                        <input type="text" class="form-control" id="orgName" name="orgName" value="${orgName!}" autocomplete="on">
                    </div>
                </div>
	            <div class="col-xs-2">
	            	<button class="btn btn-block btn-info" type="submit" id="searchBtn">搜索</button>
	            </div>
	            <div class="col-xs-2">
	            	<button class="btn btn-block btn-success add" type="button">+新增机构</button>
	            </div>
          	</div>
			</form>
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
			            <div class="box-header">
							<h3 class="box-title">列表</h3>&nbsp;&nbsp;
                            <button class="btn btn-info btn-xs pull-left2 add" >+新增机构</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            调度中心OnLine:<span class="badge bg-green">192.168.0.70:8888</span>
						</div>
			            <div class="box-body">
			              	<table id="joblog_list" class="table table-bordered table-striped display" width="100%" >
				                <thead>
					            	<tr>
                                        <th >机构ID</th>
					                  	<th >中文名称</th>
                                        <th >简称</th>
                                        <th >对应实体</th>
                                        <th >投资信息</th>
                                        <th >基金信息</th>
                                        <th >机构描述</th>
                                        <th >操作</th>
					                </tr>
				                </thead>
                                <tbody>
                                
                                
                                <%for(item in page.list! ){%>
									<tr>
                                        <td>${item.org_id}</td>
                                        <td>${item.org_cn_name}</td>
                                        <td>${item.org_cn_short}</td>
                                        <td>${item.org_map_entity}</td>
                                      	<td style="max-width: 300px;overflow-x: hidden;">${strutil.length(item.invest_info!"")>30 ? strutil.subStringTo(item.invest_info,0,27)+"...":item.invest_info }</td>
                                        <td style="max-width: 300px;overflow-x: hidden;">${strutil.length(item.fund_info!"")>30 ? strutil.subStringTo(item.fund_info,0,27)+"...":item.fund_info }</td>
                                        <td style="max-width: 300px;overflow-x: hidden;">${strutil.length(item.org_cn_desc!"")>50 ? strutil.subStringTo(item.org_cn_desc,0,47)+"...":item.org_cn_desc }</td>
										<td>
                                            <button class="btn btn-warning btn-xs update" id="${item.org_id}">编辑</button>
                                            <button class="btn btn-danger btn-xs remove"  id="${item.org_id}" title="${item.org_cn_name}">删除</button>
										</td>
									</tr>
								<%}elsefor{
									print("<tr><td colspan=\"8\">没有查询到数据！</td></tr>");
								}%>

								</tbody>
							</table>
							
							<hr>
														
								<% include("../inc/inc.paginate.html",{}){}; %>
							
							</div>
					</div>
				</div>
			</div>
			
			
			
	    </section>
	</div>

<% }; %>
